*{
    margin:0;
    padding: 0;
}

.gameboard{
    width: 606px;
    height: 606px;
    margin: 10% auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background: #f3f3f3;
}
.row{
    display: flex;
}
.cell{
    cursor: pointer;
    width: 200px;
    height: 200px;
    border: 1px solid #a9a9a9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: black;
}
.cell:hover{
    background: #b5b5b5;
}
.result {
    text-align: center;
    font-size: 60px;
}
.btn-clear{
    width: 20%;
    margin: 10px 40%;
    font-size: 28px;
    padding: 5px 20px;
    color: white;
    background: rgb(44, 109, 231);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}